<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Striker Splash</h5>
        <p>The ultimate football-themed dunk tank attraction in Belize.</p>
      </div>
      <div class="col-md-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/#welcome" class="text-white">Home</a></li>
          <li><a href="/#how-to-play" class="text-white">How to Play</a></li>
          <li><a href="/#leaderboard" class="text-white">Leaderboard</a></li>
          <li><a href="/#about-us" class="text-white">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-telephone"></i> +501 555-1234</li>
          <li><i class="bi bi-envelope"></i> info@strikersplash.bz</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; <%= new Date().getFullYear() %> Striker Splash. All rights reserved.</p>
    </div>
  </div>
</footer>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script src="/js/main.js"></script>