<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      Striker Splash
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#welcome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#how-to-play">How to Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about-us">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if (locals.user) { %>
          <% if (locals.user.role === 'admin') { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.name %> (Admin)
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              </ul>
            </li>
          <% } else if (locals.user.role === 'staff') { %>
            <li class="nav-item me-2">
              <a class="nav-link btn btn-outline-light" href="/player/transaction">Sell Kicks</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link btn btn-outline-light" href="/staff/interface">Log Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-danger" href="/auth/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.name %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/player/dashboard">My Dashboard</a></li>
                <li><a class="dropdown-item" href="/player/edit-profile">Edit Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
              </ul>
            </li>
          <% } %>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>